body {
  font-family: "Gochi Hand", cursive;
  background-color: rgba(245, 222, 179, .6);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

nav a {
  color: #333;
  font-size: .9rem;
  border: 1px solid transparent;
  padding: .25rem .5rem;
}

nav svg,
nav img {
  width: 24px;
  height: auto;
}

footer {
  margin: 0 .5rem;
}

footer img {
  width: 1rem;
  height: auto;
  vertical-align: middle;
}

.scrapbook {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.scrapbook-page {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  background-image: linear-gradient(rgb(225, 219, 219, .5) 1px, transparent 1px), linear-gradient(90deg, rgb(225, 219, 219, .5) 1px, rgb(254, 253, 250) 1px);
  background-size: 20px 20px;
  border: 1px rgb(225, 219, 219) solid;
  border-radius: 1em;
  margin: 0% 2.5%;
  flex-direction: row-reverse;
  justify-content: center;
}

.repo-card .scrapbook-card-polaroid-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: .4em;
}

.scrapbook-card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.75rem;
}

.scrapbook-card:nth-child(2n) {
  flex-direction: row-reverse;
}

.scrapbook-card-polaroid {
  z-index: 1;
}

.scrapbook-card-polaroid svg {
  width: 250px;
  height: auto;
  display: block;
  transform: rotate(6.5deg);
}

.scrapbook-card:nth-child(2n) .scrapbook-card-polaroid svg {
  transform: rotate(-6.5deg);
}

.scrapbook-card-polaroid-title {
  font-size: .6em;
  fill: #666;
}

.scrapbook-card-info {
  transform: rotate(347deg) skewX(-10deg);
  translate: -25% -15%;
  background-color: rgba(245, 222, 179, .6);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .3));
  z-index: 1;
}

.scrapbook-card:nth-child(2n) .scrapbook-card-info {
  transform: rotate(13deg) skewX(-10deg);
  translate: 15% 0%;
}

.scrapbook-card:nth-child(2n) .scrapbook-card-date {
  text-align: left;
}

.scrapbook-card-info * {
  margin: 0;
}

.scrapbook-card-blurb {
  max-width: 20ch;
  text-align: center;
}

.scrapbook-card-date {
  text-align: right;
  font-size: 1em;
}

.scrapbook-card-links > a:last-of-type img {
  width: 75px;
  height: auto;
  transform: rotate(13deg);
}

.scrapbook-card:nth-child(2n) .scrapbook-card-links > a:last-of-type img {
  transform: rotate(-13deg);
}

.scrapbook-page.about {
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem;
  align-items: center;
}
